<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Base62-Net" version="1.2.157201" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2021.3.0" targetFramework="net48" />
  <package id="Ksuid" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.7.8.6" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="Vip.Notification" version="1.0.4" targetFramework="net48" />
</packages>